{
  "presets": [
    "@babel/env",
    ["@babel/typescript", { "jsxPragma": "Reaksi.createElement" }]
  ],
  "plugins": [
    ["@babel/transform-react-jsx", {
      "pragma": "Reaksi.createElement",
      "pragmaFrag": "Reaksi.Fragment"
    }],
    ["auto-import", { "declarations": [{ "default": "Reaksi", "path": "reaksi" }]}],
    ["prismjs", {
      "languages": ["javascript", "css", "html", "jsx", "bash"],
      "plugins": ["show-language"],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}