@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Source+Sans+Pro&display=swap);
.banner {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Source Sans Pro;
    text-align: center;
}

.big-logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.big-logo {
    background-image: url(/images/Reaksi_indigo_logo.png);
    width: 90px;
    height: 110px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.big-logo-wrapper > h1 {
    line-height: 100px;
    letter-spacing: 3px;
    font-size: 60px;
}

@media screen and (max-width: 768px){
    .big-logo-wrapper > h1 {
        letter-spacing: 1px;
    }
}

.banner h3 {
    letter-spacing: 1px;
}


.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
}

.feature > h2 {
    margin-bottom: 15px;
}

.feature > img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 20px;
}

.feature > h4 {
    letter-spacing: .5px;
    font-weight: 600;
    min-height: 120px;
}
.features-wrapper {
    padding: 40px 20px 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}


header {
    padding: 5px 20px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid rgba(141, 186, 111, 0.58);
    z-index: 11;
}

@media screen and (max-width: 768px){
    header {
        padding: 5px 10px 5px 5px;
    }
}


.logo_wrapper {
    max-width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    cursor: pointer
}

.logo {
    background-image: url(/images/Reaksi_logo.png);
}

.secondary-logo {
    background-image: url(/images/Reaksi_indigo_logo.png);
}

.logo, .secondary-logo {
    width: 60px;
    height: 50px;
    background-size: cover;
    max-width: 90px;
    background-position: center;
    background-repeat: no-repeat;
}



.logo_wrapper > h2 {
    flex: 1;
    line-height: 50px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
}

nav > ul {
    list-style: none;

}

nav > ul > li {
    display: inline;
    margin: 0px 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.layout-wrapper {
    overflow: hidden;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.main-wrapper.fixed-height {
    height: calc(100vh - 60px);
}

.main-wrapper > main {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.doc-button {
    border-radius: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 50px;
    height: 50px;
    padding: 10px;
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.sidebar-wrapper {
    width: 290px;
    background-color: #151a23;
    padding-top: 20px;
    height: 100%;
}

.mobile-sidebar-wrapper {
    overflow: hidden;
    position: absolute;
    top: 61px;
    left: -300px;
    z-index: 10;
    opacity: 0;
    transition: all .2s;
    height: calc(100vh - 61px);
    display: flex;
}

.mobile-sidebar-wrapper.open {
    width: 98vw;
    opacity: 1;
    left: 0px;
    transition: all .5s;
}

.sidebar-empty-area {
    flex: 1;
    background-color: transparent;
}

@media screen and (max-width:900px) {
    .sidebar-wrapper {
        display: none;
    }

    .mobile-sidebar-wrapper > .sidebar-wrapper {
        display: block;
        height: 100%;
    }
}


.sidebar-wrapper ul {
    list-style: none;
    margin-top: 0px;
}

.sidebar-wrapper ul ul {
    padding-left: 0px;
}

.sidebar-wrapper li.group-menu {
    font-size: 20px;
}

.sidebar-wrapper li.menu {
    font-size: 17px;
    margin: 18px 0px;
    max-width: 150px;
    text-align: left;
    padding: 5px 0px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(176, 176, 176);
}

.sidebar-wrapper li.menu.is-active {
    color: var(--primary-color);
    font-weight: bold;
}

.sidebar-wrapper li.menu:not(.is-active):hover {
    background-color: rgba(141, 186, 111, 0.56);
    color: black;
    transition: all .8s;
}

.docs-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 11;
    border: none;
    transition: all .5s;
    display: none;
    font-size: 1.7rem;
    cursor: pointer;
}

@media screen and (max-width:900px) {
   .docs-button {
       display: block;
   }
}

.docs-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: all .5s;
}

.docs-button:active {
    font-size: 2.5rem;
}
div.code-toolbar > .toolbar > .toolbar-item {
    display: none !important;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #252935 !important;
    border-radius: 10px !important;
}

.code-block-wrapper {
    box-shadow: 0 5px 25px rgb(0 0 0 / 50%);
}

@media screen and (max-width: 768px){
    .code-block-wrapper code {
        font-size: .9rem !important;
    }
}
div.code-toolbar {
	position: relative;
}

div.code-toolbar > .toolbar {
	position: absolute;
	top: .3em;
	right: .2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.code-toolbar:hover > .toolbar {
	opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
	opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
	display: inline-block;
}

div.code-toolbar > .toolbar > .toolbar-item > a {
	cursor: pointer;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
	color: #bbb;
	font-size: .8em;
	padding: 0 .5em;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: .5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus {
	color: inherit;
	text-decoration: none;
}

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

.table-of-content-wrapper {
    padding: 10px;
    background-color: rgba(141, 186, 111, 0.31);
    /* color: white; */
    margin: 10px 0px;
    border-left: 3px solid cadetblue;
    border-radius: 0px 5px 5px 0px;
}

.table-of-content-wrapper ul {
    margin: 0px auto;
    padding: 0px;
}

.table-of-content-wrapper li {
    list-style: inherit;
    margin: 0px 0px 10px 20px;
}

.table-of-content-wrapper a {
    color: var(--text-color);
    text-decoration-line: underline;
}

.table-of-content-wrapper .title {
    text-align: left;
    margin-bottom: 15px;
}
.warning-wrapper {
    padding: 15px;
    background-color: rgba(189, 124, 55, 0.44);
    /* color: white; */
    margin: 10px 0px;
    border-left: 3px solid #cb5f23;
    border-radius: 0px 5px 5px 0px;
}

.warning-wrapper ul {
    margin: 0px;
    padding: 0px;
}

.warning-wrapper li {
    list-style: inherit;
    margin: 0px 0px 10px 20px;
}

.warning-wrapper a {
    color: var(--text-color);
}

.warning-wrapper .title{
    margin-bottom: 15px;
    text-align: center;
}

.title-text {
    margin: 0px 10px;
}
* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    overflow: auto;
    font-size: 16px;
}

body {
    margin: 0px;
    overflow: hidden;
    background-color: #1a1e2b;
    font-family: Source Sans Pro;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
}

.no-clicked-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
:root {
    --primary-color: #1a1e2b;
    --secondary-color: #96e067;
    --text-color: rgb(176, 176, 176);
    --mobile-screen: 768px;
}

code {
    line-height: 28px;
}

.section-title {
    scroll-margin-top: 5rem;
}

.primary-bg-color {
    background-color: #8dba6f;
}

.primary-font-color {
    color: #8dba6f;
}

.text-font-color {
    color: var(--text-color);
}

.primary-border-color{
    border-color: #8dba6f;
}

.secondary-bg-color {
    background-color: #1a1e2b;
}

.secondary-font-color {
    color: #1a1e2b;
}

.secondary-border-color {
    border-color: #1f253b;
}

.primary-button {
    background-color: #8dba6f;
    color: #1a1e2b;
    border: 2px solid #1a1e2b;
}
.secondary-button {
    background-color: #1a1e2b;;
    color: #8dba6f;
    border: 2px solid #1a1e2b;
}
.primary-button,
.secondary-button {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
}

.primary-button.big,
.secondary-button.big {
    font-size: 20px;
    min-width: 170px;
    font-weight: 600;
}

@media screen and (max-width: 768px){
    .primary-button.big,
    .secondary-button.big  {
        min-width: 150px;
    }
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 30px 20px;
    min-height: 300px;
    gap: 30px;
}

.line-before:before {
    content: '';
    border-top: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    height: 40px;
    width: 95%;
}

.line-after:after {
    content: '';
    border-top: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    height: 40px;
    width: 95%;
}

.flex-row {
    flex-direction: row;
}

@media screen and (max-width: 500px){
    .flex-row {
        flex-direction: column;
        gap: 5px;
    }
}

.flex-column {
    flex-direction: column;
}

.wrapper  h1 {
    text-align: center;
}

.wrapper li {
    margin: 10px 0px;
}

.wrapper  h3 {
    font-weight: 400;
    font-size: 21px;
}

.inner-wrapper {
    max-width: 800px;
}

.rounded-container {
    padding: 10px 30px;
    border-radius: 10px;
    margin: 20px 0px;
}

.primary-button,
.secondary-button {
    cursor: pointer;
}

h1 {
    font-size: 40px;
}

.doc-wrapper {
    padding: 20px 30px;
    color: rgb(176, 176, 176);
    max-width: 1050px;
    margin: 0 auto;
}

.doc-wrapper h1 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
}

.doc-wrapper h2 {
    margin-top: 40px;
}


.doc-wrapper p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.doc-wrapper pre {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
}

code.sh {
    margin-top: 40px;
    padding: 15px;
    background-color: rgb(37, 41, 53);
    border-radius: 10px;
    font-size: 17px;
    width: 100%;
    display: block;
    overflow-x: auto;
}
