@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Source+Sans+Pro&display=swap);
.banner {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Source Sans Pro;
    text-align: center;
}

.big-logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.big-logo {
    background-image: url(/images/Reaksi_indigo_logo.png);
    width: 100px;
    height: 110px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.big-logo-wrapper > h1 {
    line-height: 100px;
    letter-spacing: 3px;
    font-size: 60px;
}

.banner h3 {
    letter-spacing: 1px;
}


.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
}

.feature > h2 {
    margin-bottom: 15px;
}

.feature > img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 20px;
}

.feature > h4 {
    letter-spacing: .5px;
    font-weight: 600;
    min-height: 120px;
}
.features-wrapper {
    padding: 40px 20px 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
header {
    color:red;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid rgba(141, 186, 111, 0.58);
}


.logo_wrapper {
    max-width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    cursor: pointer
}

.logo {
    background-image: url(/images/Reaksi_logo.png);
}

.secondary-logo {
    background-image: url(/images/Reaksi_indigo_logo.png);
}

.logo, .secondary-logo {
    width: 60px;
    height: 50px;
    background-size: cover;
    max-width: 90px;
    background-position: center;
    background-repeat: no-repeat;
}



.logo_wrapper > h2 {
    flex: 1;
    line-height: 50px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
}

nav > ul {
    list-style: none;

}

nav > ul > li {
    display: inline;
    margin: 0px 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.main-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 88vh;
    margin-top: 73px;
}

.main-wrapper.fixed-height {
    max-height: 88vh;
}

.main-wrapper > main {
    flex: 1;
    overflow-y: auto;
}
.sidebar-wrapper {
    width: 290px;
    background-color: #151a23;
}

@media screen and (max-width:1000px) {
    .sidebar-wrapper {
        display: none;
    }
}


.sidebar-wrapper ul {
    list-style: none;
}

.sidebar-wrapper li {
    font-size: 20px;
    margin: 25px 0px;
    max-width: 150px;
    text-align: left;
    padding: 5px 0px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar-wrapper li:not(.is-active):hover {
    background-color: rgba(141, 186, 111, 0.56);
    color: black;
    transition: all .8s;
}
/**
 * Shades of Purple Theme — for Highlightjs.
 *
 * @author (c) Ahmad Awais <https://twitter.com/mrahmadawais/>
 * @link GitHub Repo → https://github.com/ahmadawais/Shades-of-Purple-HighlightJS
 * @version 1.5.0
 */

.hljs {
  background: #2d2b57;
  color: #e3dfff;
  font-weight: normal;
}

.hljs-subst {
  color: #e3dfff;
}

.hljs-title {
  color: #fad000;
  font-weight: normal;
}

.hljs-name {
  color: #a1feff;
}

.hljs-tag {
  color: #ffffff;
}

.hljs-attr {
  color: #f8d000;
  font-style: italic;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section {
  color: #fb9e00;
}

.hljs-keyword {
  color: #fb9e00;
}

.hljs-string,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-code,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-quote,
.hljs-deletion {
  color: #4cd213;
}

.hljs-meta,
.hljs-meta .hljs-string {
  color: #fb9e00;
}

.hljs-comment {
  color: #ac65ff;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name,
.hljs-strong {
  font-weight: normal;
}

.hljs-literal,
.hljs-number {
  color: #fa658d;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

* {
    box-sizing: border-box;
}

code {
    line-height: 28px;
}

body,html {
    margin: 0px;
    overflow: auto;
    background-color: #1a1e2b;
    font-family: Source Sans Pro;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
}


.primary-bg-color {
    background-color: #8dba6f;
}

.primary-font-color {
    color: #8dba6f;
}

.primary-border-color{
    border-color: #8dba6f;
}

.secondary-bg-color {
    background-color: #1a1e2b;
}

.secondary-font-color {
    color: #1a1e2b;
}

.secondary-border-color {
    border-color: #1f253b;
}

.primary-button {
    background-color: #8dba6f;
    color: #1a1e2b;
    border: 2px solid #1a1e2b;
}
.secondary-button {
    background-color: #1a1e2b;;
    color: #8dba6f;
    border: 2px solid #1a1e2b;
}
.primary-button,
.secondary-button {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
}

.primary-button.big,
.secondary-button.big {
    font-size: 20px;
    min-width: 170px;
    font-weight: 600;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 30px 20px;
    min-height: 300px;
    gap: 30px;
}

.line-before:before {
    content: '';
    border-top: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    height: 40px;
    width: 95%;
}

.line-after:after {
    content: '';
    border-top: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    height: 40px;
    width: 95%;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.wrapper  h1 {
    text-align: center;
}

.wrapper li {
    margin: 10px 0px;
}

.wrapper  h3 {
    font-weight: 400;
    font-size: 21px;
}

.inner-wrapper {
    max-width: 800px;
}

.rounded-container {
    padding: 10px 30px;
    border-radius: 10px;
    margin: 20px 0px;
}

.primary-button,
.secondary-button {
    cursor: pointer;
}

h1 {
    font-size: 40px;
}

.doc-wrapper {
    padding: 30px;
    color: rgb(176, 176, 176);
    max-width: 1050px;
    margin: 0 auto;
}

.doc-wrapper h1 {
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
}

.doc-wrapper h2 {
    margin-top: 40px;
}


.doc-wrapper p {
    font-size: 20px;
    line-height: 2rem;
}

.doc-wrapper pre {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
}

code.sh {
    margin-top: 40px;
    padding: 15px;
    background-color: #1f253b;
    border-radius: 10px;
    font-size: 17px;
    width: 100%;
    display: block;
}
