.doc-wrapper {
    padding: 20px 30px;
    color: rgb(176, 176, 176);
    max-width: 900px;
    margin: 0 auto;
}

.doc-wrapper h1 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
}

.doc-wrapper h2 {
    margin-top: 40px;
}


.doc-wrapper p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.doc-wrapper pre {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
}

code.sh {
    margin-top: 40px;
    padding: 15px;
    background-color: rgb(37, 41, 53);
    border-radius: 10px;
    font-size: 17px;
    width: 100%;
    display: block;
    overflow-x: auto;
}