.doc-wrapper {
    padding: 20px 30px;
    color: rgb(176, 176, 176);
    max-width: 900px;
    margin: 0 auto;
}

.doc-wrapper h1 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
}

.doc-wrapper h2 {
    margin-top: 40px;
}


.doc-wrapper p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.doc-wrapper pre {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
}

code.sh {
    margin-top: 40px;
    padding: 15px;
    background-color: rgb(37, 41, 53);
    border-radius: 10px;
    font-size: 17px;
    width: 100%;
    display: block;
    overflow-x: auto;
}

.table-of-content-wrapper {
    padding: 10px;
    background-color: rgba(141, 186, 111, 0.31);
    /* color: white; */
    margin: 10px 0px;
    border-left: 3px solid cadetblue;
    border-radius: 0px 5px 5px 0px;
}

.table-of-content-wrapper ul {
    margin: 0px auto;
    padding: 0px;
}

.table-of-content-wrapper li {
    list-style: inherit;
    margin: 0px 0px 10px 20px;
}

.table-of-content-wrapper a {
    color: var(--text-color);
    text-decoration-line: underline;
}

.table-of-content-wrapper .title {
    text-align: left;
    margin-bottom: 15px;
}

.warning-wrapper {
    padding: 15px;
    background-color: rgba(189, 124, 55, 0.44);
    /* color: white; */
    margin: 10px 0px;
    border-left: 3px solid #cb5f23;
    border-radius: 0px 5px 5px 0px;
}

.warning-wrapper ul {
    margin: 0px;
    padding: 0px;
}

.warning-wrapper li {
    list-style: inherit;
    margin: 0px 0px 10px 20px;
}

.warning-wrapper a {
    color: var(--text-color);
}

.warning-wrapper .title{
    margin-bottom: 15px;
    text-align: center;
}

.title-text {
    margin: 0px 10px;
}

.doc-title-placeholder,
.doc-paragraph-placeholder {
    background-color: #252935;
    border-radius: 10px;
    margin: 20px auto;
}

.doc-title-placeholder {
    height: 40px;
    width: 300px;
}

.doc-paragraph-placeholder {
    height: 150px;
}