.warning-wrapper {
    padding: 15px;
    background-color: rgba(189, 124, 55, 0.44);
    /* color: white; */
    margin: 10px 0px;
    border-left: 3px solid #cb5f23;
    border-radius: 0px 5px 5px 0px;
}

.warning-wrapper ul {
    margin: 0px;
    padding: 0px;
}

.warning-wrapper li {
    list-style: inherit;
    margin: 0px 0px 10px 20px;
}

.warning-wrapper a {
    color: var(--text-color);
}

.warning-wrapper .title{
    margin-bottom: 15px;
    text-align: center;
}

.title-text {
    margin: 0px 10px;
}