.layout-wrapper {
    overflow: hidden;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.main-wrapper.fixed-height {
    height: calc(100vh - 60px);
}

.main-wrapper > main {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.doc-button {
    border-radius: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 50px;
    height: 50px;
    padding: 10px;
    position: absolute;
    bottom: 3px;
    right: 3px;
}