.main-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.main-wrapper.fixed-height {
    height: calc(100vh - 60px);
}

.main-wrapper > main {
    flex: 1;
    overflow-y: auto;
}