.sidebar-wrapper {
    width: 290px;
    background-color: #151a23;
}

@media screen and (max-width:1000px) {
    .sidebar-wrapper {
        display: none;
    }
}


.sidebar-wrapper ul {
    list-style: none;
}

.sidebar-wrapper li {
    font-size: 20px;
    margin: 25px 0px;
    max-width: 150px;
    text-align: left;
    padding: 5px 0px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar-wrapper li:not(.is-active):hover {
    background-color: rgba(141, 186, 111, 0.56);
    color: black;
    transition: all .8s;
}