header {
    color:red;
    padding: 5px 20px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid rgba(141, 186, 111, 0.58);
}

@media screen and (max-width: 768px){
    header {
        padding: 5px 10px 5px 5px;
    }
}


.logo_wrapper {
    max-width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    cursor: pointer
}

.logo {
    background-image: url('../../../assets/images/Reaksi_logo.png');
}

.secondary-logo {
    background-image: url('../../../assets/images/Reaksi_indigo_logo.png');
}

.logo, .secondary-logo {
    width: 60px;
    height: 50px;
    background-size: cover;
    max-width: 90px;
    background-position: center;
    background-repeat: no-repeat;
}



.logo_wrapper > h2 {
    flex: 1;
    line-height: 50px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
}

nav > ul {
    list-style: none;

}

nav > ul > li {
    display: inline;
    margin: 0px 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}