.banner {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Source Sans Pro;
    text-align: center;
}

.big-logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.big-logo {
    background-image: url('../../assets/images/Reaksi_indigo_logo.png');
    width: 90px;
    height: 110px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.big-logo-wrapper > h1 {
    line-height: 100px;
    letter-spacing: 3px;
    font-size: 60px;
}

@media screen and (max-width: 768px){
    .big-logo-wrapper > h1 {
        letter-spacing: 1px;
        font-size: 50px;
    }
}

.banner h3 {
    letter-spacing: 1px;
}

.reaksi-logo-wrapper {
    height: 70px;
    width: 70px;
    overflow: hidden;
    transform: rotate(45deg);
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    position: relative;
}

.reaksi-logo-outer {
    height: 100%;
    width: 100%;
    padding: 15%;
    overflow: hidden;
    border: 3px solid black;
    animation: spin-left 6s infinite;
}

.reaksi-logo-inner {
    height: 100%;
    width: 100%;
    padding: 20%;
    overflow: hidden;
    border: 3px solid black;
    /*animation: spin-right 2s infinite;*/
}

.reaksi-logo-center {
    height: 18%;
    width: 18%;
    background-color: black;
    /* transform: translateY(1px); */
    position: absolute;
    top: 41%;
    left: 41%;
}

@keyframes spin-right {
    0% {
        transform: rotate3d(1, 1, 1, 0);
    }
    50% {
        transform: rotate3d(10,10,0,360deg);
    }
    100% {
        transform: rotate3d(10, 10, 0, 0);
    }
}

@keyframes spin-left {
    0% {
        transform: rotate3d(1, 1, 1, 0);
    }
    50% {
        transform: rotate3d(10,10,0,-360deg);
    }
    100% {
        transform: rotate3d(1, 1, 1, 0);
    }
}

@keyframes stay-still {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }
    /*50% {*/
    /*    transform: rotate3d(0,0,0,180deg);*/
    /*}*/
    100% {
        transform: rotate3d(0, 0, 0, 0);
    }
}



