footer {
    height: 170px;
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer > .big-logo {
    margin:  10px auto;
    height: 70px;
    width: 70px;
}

footer h3 {
    text-align: center;
    color: inherit;
}